.postlist-body {
    padding: 30px 13%;
}

.post-list {
    display: flex;
}

.post-list a {
    text-decoration: none;
    color: black;
    margin-right: 150px;
    margin-bottom: 30px;
}

.post-list a:hover {
    text-decoration: underline;
}

.post-title p {
    margin-bottom: 10px;
}