.carItem {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.carItem:hover {
    transform: scale(1.05);
}

.carItemImage {
    width: 100%;
    height: 250px;
    max-height: 150px;
    object-fit: cover;
}

.carItemName {
    font-size: 16px;
    margin: 10px 0;
}

.carItemPrice {
    font-size: 14px;
    color: #555;
}
