.carListBody {
    padding: 20px;
}

.searchResult {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.carList {
    display: flex;
    flex-direction: column;
    align-items: center; /* 아이템들을 가운데 정렬 */
    gap: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pageButton {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pageButton:hover {
    background-color: #f0f0f0;
}

.active {
    background-color: #000000;
    color: #fff;
    border-color: #828282;
}
