.car-category {
    position: relative;
}

.car-category-button {
    padding: 10px 20px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 120px;
    text-align: center;
    border-bottom: 2px solid transparent;
}

.car-category-button:hover {
    border-bottom: 2px solid black;
}

.drop-content {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 230%;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 1000;
    flex-wrap: wrap;
}

.drop-section {
    padding: 10px;
    flex: 1 1 20%; 
}

.drop-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.drop-title a {
    text-decoration: none;
    color: inherit;
}

.dropdown-submenu-car {
    width: 100%;
}

.dropdown-submenu-car ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-submenu-car li {
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.dropdown-submenu-car a {
    text-decoration: none;
    color: inherit;
}

.dropdown-submenu-car li:hover {
    background-color: #f0f0f0;
}