.category {
    position: relative;
}

.category-button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    text-align: center;
}

.dropdown-content {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 1020%;
    border: 1px solid #ddd;
    border-radius: 4px;
    z-index: 1000;
    flex-wrap: wrap;
}

.dropdown-section {
    padding: 10px;
    flex: 1 1 20%; 
}

.dropdown-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.dropdown-title a {
    text-decoration: none;
    color: inherit;
}

.dropdown-submenu {
    width: 100%;
}

.dropdown-submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-submenu li {
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.dropdown-submenu a {
    text-decoration: none;
    color: inherit;
}

.dropdown-submenu li:hover {
    background-color: white;
}

.dropdown-submenu-3 {
    position: relative;
    top: 0;
    background-color: white;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;
    display: none;
}

.dropdown-submenu-3 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-submenu-3 li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-submenu-3 li:hover {
    background-color: #f0f0f0;
}

.dropdown-submenu li:hover .dropdown-submenu-3 {
    display: block;
}
