header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding: 0 20%;

}

.header-top {
  display: flex;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.logo {
  width: 200px;
  height: 80px;
  margin-right: 20px;
}

/* 검색 */
.search {
  flex: 1;
  padding: 20px;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-right: 20px;
  outline: none;
}

.nav {
  display: flex;
  gap: 20px;
}

.chat-menu {
  padding: 15px 0;
}

.nav-item {
  display: flex;
  border: none;
  font-size: 18px;
  color: black;
  background-color: white;
}

.sale-drop {
  color: black;
}

.category-car-post {
  display: flex;
}

/* 채팅 */
.no-scroll {
  overflow: hidden; /* 스크롤 막기 */
}

/* 사이드바 */
.chat-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 35%;
  height: 100vh;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transform: translateX(100%);
  /* 기본적으로 사이드바가 화면 오른쪽 밖에 위치 */
  transition: transform 0.3s ease;
}

.chat-sidebar.open {
  transform: translateX(0);
  /* 사이드바가 화면에 나타나도록 변환 */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999;
}

/* 오버레이가 표시될 때 */
.overlay.active {
  display: block;
  /* 표시 */
}

/* 닫기버튼 */
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  z-index: 1001;
}