.productdetailBody {
    margin-top: 50px;
    padding: 0 20%;
    position: relative;
}

.productDetail {
    display: flex;
    flex-direction: column; 
}

.productdetailTop {
    display: flex;
    margin-bottom: 50px; 
    align-items: flex-start; 
    gap: 20px; 
}

.carousel {
    width: 500px;
    margin-right: 50px;
}

.productImage {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselItem img {
    height: 500px;
    width: 500px;
}

/* 상품정보 */
.productpostinfo {
    font-size: medium;
}

.productInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.productInfoBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-bottom: 30px; 
    margin-top: 30px;
}

.productInfoBottom div {
    text-align: center;
}

/* 채팅하기, 찜하기 버튼 */
.chatDipButton {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.chatButton,
.dipButton {
    width: 48%; 
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.chatButton {
    background-color: white;
}

.dipButton {
    background-color: black;
    color: white;
}

/* 채팅하기 side */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 10;
  }
  
  .overlayActive {
    background-color: rgba(0, 0, 0, 0.5); /* 사이드바 열었을때 */
  }
  
  /* 사이드바 스타일 */
  .chatSidebar {
    position: fixed;
    top: 0;
    right: -300px; /* 화면 밖에 배치하여 숨김 */
    width: 40%;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s ease;
    z-index: 20;
  }
  
  .chatSidebarOpen {
    right: 0; /* 오른쪽에 나타나게 */
  }
  
  /* 닫기 버튼 스타일 */
  .closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 25;
  }


/* 상품정보, user정보 */
.productdetailBottom {
    display: flex;
    width: 100%;
    justify-content: space-between; 
}

.productInfoDetail {
    flex: 6; 
    padding: 10px;
    box-sizing: border-box;
    margin-right: 100px;
}

.productInfoDetail p {
    font-size: large;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

.userInfo {
    padding: 10px;
}

.userInfodiv {
    flex: 4;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}


.nickNameAndProfileImgFrame {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.sellerNickName {
    font-size: 22px;
    font-weight: bold;
    align-content: center;
}

.sellerProfileImg {
    height: 50px;
    border-radius: 50%;
}

.trustIndexFrame {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin: 0 5px;
}

.sellerTrustIndex {
    display: flex;
    align-items: baseline;
    gap: 5px;
    color: #0CB650;
    font-size: 14px;
}

.sellerTrustIndexFigure {
    font-size: 17px;
    font-weight: bold;
}

.maxTrustIndex {
    margin: 0;
    padding-top: 5px;
    color: gray;
    font-size: 15px;
}

.trustIndexBar {
    width: 100%;
    height: 10px;
    margin-bottom: 15px;
    border-radius: 10px !important;
    transition: width 0.5s ease-in-out;
}

.trustIndexBar div {
    background: linear-gradient(90deg, #0DCC5A, #01A1AD);
    border-radius: 10px;
}

.sellListFrame {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.sellInfoCard {
    width: 31%;
    height: 250px !important;
    border: 0 !important;
    cursor: pointer;
}

.sellInfoCard:hover .sellInfoCardImg{
    transform: scale(1.1);
}

.sellInfoCardImgContainer {
    overflow: hidden;
    height: 65%;
    border-radius: 5px;
}

.sellInfoCardImg {
    height: 100%;
    transition: transform 0.3s ease;
}

.sellInfoCardBody {
    padding: 15px 5px !important;
    height: 35%;
}

.sellInfoTitle {
    margin-top: 5px;
    margin-bottom: 20px;
    display: -webkit-box;          /* Flexbox를 사용하여 상자 모델을 정의합니다. */
    -webkit-line-clamp: 1;         /* 표시할 줄 수를 2로 제한합니다. */
    -webkit-box-orient: vertical;  /* 상자의 방향을 수직으로 설정합니다. */
    overflow: hidden;              /* 넘치는 내용은 숨깁니다. */
    text-overflow: ellipsis;       /* 넘치는 텍스트를 생략 기호로 표시합니다. */
    height: 18px;
    font-size: 15px !important;
    color: #757575;
}

.sellInfoPrice {
    font-weight: bold;
    margin-top: 15px;
}
