.productdetailBody {
    margin-top: 50px;
    padding: 0 20%;
}

.productDetail {
    display: flex;
    flex-direction: column; 
}

.productdetailTop {
    display: flex;
    margin-bottom: 50px; 
    align-items: flex-start; 
    gap: 20px; 
}

.carousel {
    width: 300px;
    margin-right: 300px;
}

.productImage {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.carouselItem {
    height: auto; /* 슬라이드의 높이를 고정 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselItem img {
    max-height: 300px;
    max-width: 300px;
}

/* 상품정보 */
.productInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.productInfoBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 30px; 
    margin-top: 30px;
}

.productInfoBottom div {
    text-align: center;
}

/* 채팅하기, 찜하기 버튼 */
.chatDipButton {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.chatButton,
.dipButton {
    width: 48%; 
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.chatButton {
    background-color: white;
}

.dipButton {
    background-color: black;
    color: white;
}

/* 상품정보, user정보 */
.productdetailBottom {
    display: flex;
    width: 100%;
    justify-content: space-between; 
}

.productInfoDetail {
    flex: 6; 
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    margin-right: 100px;
}

.userInfo {
    flex: 4;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
