.productdetailBody {
    margin-top: 50px;
    padding: 0 20%;
    position: relative;
}

.productDetail {
    display: flex;
    flex-direction: column; 
}

.productdetailTop {
    display: flex;
    margin-bottom: 50px; 
    align-items: flex-start; 
    gap: 20px; 
}

.carousel {
    width: 500px;
    margin-right: 50px;
}

.productImage {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselItem img {
    height: 500px;
    width: 500px;
}

/* 상품정보 */
.productInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.productInfoBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 30px; 
    margin-top: 30px;
}

.productInfoBottom div {
    text-align: center;
}

/* 채팅하기, 찜하기 버튼 */
.chatDipButton {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.chatButton,
.dipButton {
    width: 48%; 
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.chatButton {
    background-color: white;
}

.dipButton {
    background-color: black;
    color: white;
}

/* 채팅하기 side */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 10;
  }
  
  .overlayActive {
    background-color: rgba(0, 0, 0, 0.5); /* 사이드바 열었을때 */
  }
  
  /* 사이드바 스타일 */
  .chatSidebar {
    position: fixed;
    top: 0;
    right: -300px; /* 화면 밖에 배치하여 숨김 */
    width: 30%;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s ease;
    z-index: 20;
  }
  
  .chatSidebarOpen {
    right: 0; /* 오른쪽에 나타나게 */
  }
  
  /* 닫기 버튼 스타일 */
  .closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 25;
  }


/* 상품정보, user정보 */
.productdetailBottom {
    display: flex;
    width: 100%;
    justify-content: space-between; 
}

.productInfoDetail {
    flex: 6; 
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    margin-right: 100px;
}

.userInfo {
    flex: 4;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}
