.productlistBody {
    padding: 30px 20%;
}

.searchResult {
    font-size: x-large;
}

.categoryContainer {
    border-top: 2px solid black;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.category1Result,
.category2Result,
.category3Result,
.category4Result {
    padding: 10px 50px;
    vertical-align: top;
    background-color: #ffffff;
}

.categoryContainer td h2 {
    padding-left: 30px;
    font-size: 18px;
    font-weight: 600;
}

.category1,
.category2,
.category3,
.category4 {
    width: 15%;
    background-color: #ececec;
}

.productInputPrice {
    border: none; /* 기본 테두리 제거 */
    outline: none; /* 포커스 시 기본 아웃라인 제거 */
    background: none; /* 기본 배경 제거 */
    box-shadow: none; /* 기본 그림자 제거 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
    font: inherit; /* 부모 요소의 글꼴을 상속 */
    color: inherit; /* 부모 요소의 글꼴 색상을 상속 */
}

.category2Result p {
    margin-top: 13px;
    margin-right: 20px;
    margin-left:  20px;

}

.category2Result {
    display: flex;
}

.productInputPrice1 {
    margin-right: 10px;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.productInputPrice2 {
    margin-left: 10px;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.category1Result {
    display: flex;
}

.category1Result p {
    margin-right: 5px;
}

.category2ResultButton {
    margin-left: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 60px;
}

.toggleButton {
    background-color: white;
    border-style: none;
}

.icon {
    width: 20px;
    margin-right: 10px;
}

.productList {
    margin-top: 20px;
}

.price {
    margin: 60px 0;
}

.priceh4 {
    font-weight: normal;
}

.priceInfo {
    padding: 15px 5px;
    display: flex;
    justify-content: center; /* 가로축에서 가운데 정렬 */
    gap: 30px; /* 각 항목 사이에 20px 간격 */
    background-color: #ececec;
    height: 70px;
    border-radius: 7px;
}

.priceInfo p1 {
    font-weight:bold;
    font-size: large;
    margin-top: 5px;
}

.priceInfo p {
    margin: 0;
    padding: 0 55px; /* 각 p 태그에 좌우 여백 추가 */
    border-right: 1px solid #ccc; /* 구분선 추가 */
    font-weight: bolder;
    font-size: x-large;
}

.priceInfo p:last-child {
    border-right: none; /* 마지막 항목에 구분선 제거 */
}

.productList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pageButton {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: white;
    border-style: none;

}

.pageButton.active {
    background-color: #000000;
    color: white;
    border-radius: 5px;
}

.priceTitle {
    display: flex;
    margin-bottom: 15px;
}

.priceTitle h4 {
    font-weight: bolder;
    margin-right: 50px;
}

.priceTitle h6 {
   margin-top: 14px;
   color: #525151;
   font-weight: bold;
   text-decoration: underline;
   cursor: pointer;
}
