.sellListFilterFrame {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 15px;
    color: dimgray;
}

.filterButtonImg {
    width: 25px;
    margin-right: 10px;
}

.sellListFilter {
    button {
        border: 0;
        color: dimgray;
        font-size: 13px;
        background-color: white;
    }
    button.active {
        font-weight: bold;
    }
}

.sellFilterButtonActive {
    font-weight: bold !important;
}

.sellFilterButton {
    font-weight: lighter;
}

.sellListInfo {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.sellInfoCard {
    width: 20%;
    height: 300px;
    border: 0;
    cursor: pointer;
}

.sellInfoCardImg {
    height: 55%;
}

.sellInfoCardBody {
    padding: 15px 5px;
}

.sellInfoTitle {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.sellInfoPrice {
    font-weight: bold;
    margin-bottom: 5px;
}

.sellInfoExtra {
    color: #9CA3AF;
    font-size: 13px;
}