.myhome-info {
    display: flex;
}

.myhome-profile-img {
    width: 25%;
    border-radius: 50%;
    margin-right: 50px;
}

.myhome-profile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    padding: 10px 0;
}

.nickname-print {
    font-size: 50px;
}

.oneline-intro {
    color: gray;
    font-size: 15px;
    margin-bottom: 20px;
}

.trust-index-info {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}

.my-trust-index {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin: 0;
    color: #0CB650;
    font-size: 15px;
    p {
        margin: 0;
    }
}

.my-trust-index-figure {
    font-size: 20px;
    font-weight: bold;
}

.max-trust-index {
    margin: 0;
    padding-top: 5px;
    color: gray;
    font-size: 15px;
}

.trust-index-bar {
    width: 100%;
    margin-bottom: 15px;
}

.trust-index-bar .progress-bar {
    background: linear-gradient(90deg, #0DCC5A, #01A1AD);
    border-radius: 6px;
}

.sell-list {
    margin-top: 70px;
}

.sell-title {
    font-size: 20px;
    font-weight: bold;
}

#sell-status {
    li {
        padding: 0;
        font-size: 15px;
        font-weight: bold;
        width: 150px;
        height: 50px;
        button {
            color: #9CA3AF;
            width: 100%;
            border: 0;
        }
        button:hover {
            border: 0;
            color: #0DCC5A;
            border-bottom: 2px solid #0DCC5A;
        }
        button.active {
            color: black;
            border-bottom: 2px solid black;
        }
    }
}

.sell-list-filter-frame {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 15px;
    color: dimgray;
}

.sell-list-filter {
    button {
        border: 0;
        color: dimgray;
        font-size: 13px;
        background-color: white;
    }
    button.active {
        font-weight: bold;
    }
}

.sell-list-info {
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

#sell-info-card {
    width: 20%;
    height: 300px;
    border: 0;
    cursor: pointer;
}

#sell-info-card-img {
    height: 55%;
}

#sell-info-card-body {
    padding: 15px 5px;
}

#sell-info-title {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

#sell-info-price {
    font-weight: bold;
    margin-bottom: 5px;
}

#sell-info-extra {
    color: #9CA3AF;
    font-size: 13px;
}