.myhome-body {
    display: flex;
    padding: 50px 20%;
}

.my-nav-box {
    width: 25%;
    
}

.mypage {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 10px;
}

.mypage-menu {
    padding: 0;
    li {
        margin-top: 10px;
        list-style-type: none;
        cursor: pointer;
        font-size: 13px;
        color: dimgray;
    }
    li.active {
        color: black;
        font-weight: bold;

    }
    li:hover {
        color: #0DCC5A;
    }
}

.mypage-activated {
    width: 75%;
}