.myhome-body {
    display: flex;
    padding: 80px 20% 30px 20%;
}

.my-nav-body {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.mypage {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 20px;
    font-size: 23px;
}

.my-pay-info {
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 3px;
}

#my-nav-box {
    width: 100%;
    gap: 2px;
    margin: 0 0 24px;
}

#my-nav-box div {
    margin-top: 10px;
    list-style-type: none;
    cursor: pointer;
    font-size: 13px;
    color: dimgray;
}

#my-nav-box div:active {
    color: black;
    font-weight: bold;
}

#my-nav-box div:hover {
    color: #0DCC5A;
}

.my-account-info {
    font-weight: bolder;
    font-size: larger;
    margin: 0 0 3px;
    padding: 17px 0 0;
    border-top: 1px solid #EBEBEB;
    width: 70%;
}

.mypage-activated {
    width: 75%;
}