.home-body {
  padding: 30px 20%;
}

.product-list {
  display: flex;
  flex-direction: column;
}

.product-items {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.product-item {
  flex: 1 1 calc(16.66% - 20px);
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.product-item:active {
  color: inherit;
}

.product-item:visited {
  color: inherit;
}

.product-item img {
  max-width: 150px;
  max-height: 150px;
  height: auto;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
