.home-body {
  padding: 0 20%;
}

.product-list {
  display: flex;
  flex-direction: column;
}

.product-items {
  display: flex;
  align-items: center; /* 버튼과 아이템을 수직으로 가운데 정렬 */
  justify-content: space-between; /* 버튼을 좌우 끝으로 배치 */
  flex-wrap: wrap; /* 제품 아이템들이 한 줄에 배치되도록 설정 */
}

.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* .product-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
 */
.product-item {
  flex: 1 1 calc(16.66% - 20px);
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.product-item:active {
  color: inherit;
}

.product-item:visited {
  color: inherit;
}

.product-item img {
  max-width: 150px;
  max-height: 150px;
  height: auto;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
