.home-body {
  padding: 30px 20%;
}

.product-list {
  display: flex;
  flex-direction: column;
}

.product-items {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-style: none;
}

.pagination-buttons img {
  width: 30px;
  height: 30px;
}

.product-item {
  flex: 1 1 calc(16.66% - 20px);
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.product-item h4 {
  display: -webkit-box; /* 브라우저에서 flexbox를 사용할 수 있게 */
  -webkit-box-orient: vertical; /* 박스 방향을 세로로 설정 */
  -webkit-line-clamp: 2; /* 최대 두 줄까지*/
  overflow: hidden; /* 넘어가는 내용은 숨김 */
  text-overflow: ellipsis; /* 2줄 넘어가면 ... */
  line-height: 1.2em; /* 줄 높이 설정 */
  height: 2.1em; /* 줄의 높이 설정 */
}

.product-item:visited {
  color: inherit;
}

.product-item img {
  max-width: 150px;
  max-height: 150px;
  height: auto;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button:disabled {
  cursor: not-allowed;
}

.pagination-buttons {
  background-color: white;
}