@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css");
body {
    font-family: 'NanumSquare', sans-serif;
}

/* MyDealList.jsx */
.MyDealListTab_sellStatus__B6IZD {
    li {
        button.active {
            border-bottom: 2px solid black !important;
        }
        button.active:hover {
            border-bottom: 2px solid #0DCC5A !important;
        }
    }
}